# Amazon Dataset Cleaning

In [1]:
# imports
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

## Import SQL Data Using Sqlalchemy

In [2]:
# Database credentials
username = 'postgres'
password = 'hellosql'
host = 'localhost'
port = '5433'
database = 'da_project_streaming'

# Connection String
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}'

# Engine
engine = create_engine(connection_string)

In [3]:
# select all from amazon database
query = "SELECT * FROM amazon_prime_titles"
df_amazon = pd.DataFrame(engine.connect().execute(text(query)))

In [4]:
df_amazon.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,None,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,None,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,None,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,None,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

## Check for Duplicates/ NULL Values

In [5]:
df_amazon.duplicated().sum() # No duplicated values

0

In [6]:
df_amazon.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

In [7]:
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

# Clean Data

In [8]:
# drop some null values
df_amazon.dropna(subset='rating', inplace=True)
df_amazon.drop('date_added', axis=1, inplace=True) # date_added mostly null so drop
df_amazon.dropna(subset='country', inplace=True) # drop col because of small amount of hard to use data
# fill unknown director and cast with empty str
df_amazon['director'] = df_amazon['director'].fillna('')
df_amazon['cast'] = df_amazon['cast'].fillna('')
df_amazon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 657 entries, 1 to 9646
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       657 non-null    object
 1   type          657 non-null    object
 2   title         657 non-null    object
 3   director      657 non-null    object
 4   cast          657 non-null    object
 5   country       657 non-null    object
 6   release_year  657 non-null    int64
 7   rating        657 non-null    object
 8   duration      657 non-null    object
 9   listed_in     657 non-null    object
 10  description   657 non-null    object
dtypes: int64(1), object(10)
memory usage: 61.6+ KB

In [9]:
df_amazon['rating'].unique()

array(['13+', '18+', 'ALL', 'PG-13', 'R', '16+', 'G', 'NR', 'PG', 'TV-MA',
       '7+', 'TV-G', 'NOT_RATE'], dtype=object)

In [10]:
# Fix rating for shows so there are not multiple that mean the same thing
def fix_ratings(string):
    if string == 'ALL_AGES' or string == 'ALL':
        return 'G'
    elif string == 'NOT_RATE':
        return 'NR'
    elif string == 'UNRATED':
        return 'UR'
    elif string == '16' or string == 'AGES_16_':
        return '16+'
    elif string == 'AGES_18_':
        return '18+'
    else:
        return string

In [11]:
# apply function to normalize ratings
df_amazon['rating'] = df_amazon['rating'].apply(fix_ratings)
df_amazon['rating'].unique()

array(['13+', '18+', 'G', 'PG-13', 'R', '16+', 'NR', 'PG', 'TV-MA', '7+',
       'TV-G'], dtype=object)

In [12]:
df_amazon.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [13]:
# exoprt data to csv
df_amazon.to_csv('cleaned_data/amazon_data_clean.csv')